<div class="center jumbotron">
  <h1>Welcome to the Haven of DusterG20!!</h1>

  <h2>
    If you have found this page, you have officially made it to the end of the Internet, Congratulations.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Powered on Rails"), 'http://rubyonrails.org/' %>
<%#= image_tag("kitten.jpg", alt: "Kitten") %>